ion-title.title-large {
    --color: #1d2ae4;
  }
ion-card.ion-margin{
    margin: 40px;
}
ion-button.size-large{
    border-radius: 12px;
    font-size: 12px;
}
ion-content.background{
    ion-content.background{
        --background: url(./assets/imgs/splash.jpg) 0 0/100% 100% no-repeat;
    }
}
ion-progress-bar::part(track) {
    background: #f3e895;
  }
  
  ion-progress-bar::part(progress) {
    background: #09c567;
  }
  
  ion-progress-bar::part(stream) {
    background-image: radial-gradient(ellipse at center, #e475f3 0%, #e475f3 30%, transparent 30%);
  }
  .calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to 100% of the viewport height or adjust as needed */
  }

  /* Add additional styling for your calendar if necessary */
  
  .label-bottom-margin {
    margin-bottom: 8px; /* adjust as needed */
}


.header_title {
  background-color:#3F51B5 !important;
  color: #f5f6f9;
  padding: 6px;
  text-align: center;
  font-size: medium;
  width: 100%;
  bottom: 0;
  left: 0;
}

.logintitle {
  font-size: 20px;
  font-weight: 600;
}

.subtitle {
  font-size: 15px;
}

.footer {
  background-color: #041d8e !important;
  color: #f5f6f9;
  font-size: small;
  line-height: 30px;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
}
.page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  overflow-y: auto;
}


.split-screen {
  display: flex;
  flex-wrap: wrap;
}

.split-screen .half {
  flex: 1;
  padding: 10px;
}
.shift-details-card {
  margin: 10px;
  padding: 0px;
  /* border: 1px solid #0e0d0d; */
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.10);
    -ms-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.10);
  border-radius: 10px;
  text-align: left;
}

.shift-details-card  ion-card-header {
  background-color: #3F51B5;
  padding: 12px 16px;
  
}

.shift-details-card  ion-card-title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

.card {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.10);
    padding: 16px;
    border: 1px solid rgb(0 0 0 / 8%);
    margin: 0px 0px 10px 0px;
}

.shift-details-card-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;;
  border: none;
  padding:16px 16px 0px!important

}

.shift-details-column {
  flex: 1;
   min-width: 100%;
}

.shift-details-column p {
  margin: 0px 0 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profilepage  p {
  margin: 0px 0 0px 0px;
  justify-content: space-between;
  display: flex;
  border-bottom: 1px solid rgb(0 0 0 / 8%);
  padding: 10px 0px;
}

.shift-details-column p:first-child{padding-top: 0px;}

/* .shift-details-column p:last-child {
  margin: 0px;
} */
